/*
    Document   : styles.css
    Created on : Jun 25, 2019, 6:57:02 PM
    Author     : p.liersch
    Description: stylesheet for mrbs RLP
*/

#mrbscontainer {color:black; font-size: 10pt; font-family:arial,sans-serif; overflow: auto; padding: 1px;}

#mrbscontainer a:link {font-weight: inherit; text-decoration: none}
#mrbscontainer a:visited {font-weight: inherit; text-decoration: none}
#mrbscontainer a:hover {color:red; text-decoration:underline}

#mrbscontainer a.active {font-weight:bold;}

#mrbscontainer H1 {color:black; font-family:verdana,sans-serif; font-size:16pt}
#mrbscontainer H2 {color:black; font-family:verdana,sans-serif; font-size:14pt}
#mrbscontainer H3 {font-family:verdana,sans-serif; font-size:12pt}

#mrbscontainer .calendar {font-size: 10pt;}
#mrbscontainer td.banner {border: 0;padding:0;}
#mrbscontainer td.banner.title {padding-left: 5px;vertical-align: middle;}
#mrbscontainer table.banner.table {border-collapse: collapse !important;background-color:#c0e0ff;border:1px solid #aaa;width:100%}
